@model List<ResultCategoryDTO>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    @using (Html.BeginForm("AddCategory", "Categories", FormMethod.Get))
    {
        <input type="submit" class="btn btn-success" value="Ürün Kategorisi Ekleme Sayfası" />
    } &nbsp;
    @using (Html.BeginForm("Index", "Products", FormMethod.Get))
    {
        <input type="submit" class="btn btn-success" value="Ürünler Sayfası" />
    }
    <br />

    <table class="table-bordered">
        <tr>
            <th>CategoryId</th>
            <th>CategoryName</th>
            <th>Güncelle</th>
            <th>Sil</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryId</td>
                <td>@item.CategoryName</td>
                <td>
                    @using (Html.BeginForm("UpdateCategory", "Categories", FormMethod.Get))
                    {
                        <input type="hidden" name="categoryId" value="@item.CategoryId" />
                        <input type="hidden" name="categoryName" value="@item.CategoryName" />
                        <input type="submit" class="btn btn-success" value="Güncelle" />
                    }
                </td>
                <td>
                    @using (Html.BeginForm("DeleteCategory", "Categories", FormMethod.Get))
                    {
                        <input type="hidden" name="categoryId" value="@item.CategoryId" />
                        <input type="submit" class="btn btn-success" value="Sil" />
                    }
                </td>
            </tr>
        }
    </table>
</div>